{{# each products }}
	<div class="row">
		{{# each this}}
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="{{this.imagePath}}" class="img img-responsive" alt="gothic">
      <div class="caption">
        <h3>{{this.title}}</h3>
        <p class="description">{{this.description}}</p>
        <div class="clearfix">
        	<div class="price">Rs.{{this.price}}</div>
        	 <a href="buy-now" class="btn btn-primary" role="button">Buy now</a>        	
        	 <a href="/add-to-cart/{{this._id}}" class="btn btn-danger pull-right" role="button">Add to cart</a>
        </div>
      </div>
    </div>
  </div>
    {{/each}}
</div>


{{/each}}
